In [1]:
# Import the libraries 
import pandas as pd

In [2]:
# Load the dataset

csv_data = pd.read_csv('./synthetic_COPD_data.csv')

In [3]:
csv_data.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0

In [4]:
# Extract the relevant column

csv_selected_columns= csv_data[['Age','Gender', 'Smoking_Status','Family_History_COPD', 'BMI', 'Location','Air_Pollution_Level','COPD_Diagnosis']]

In [5]:
csv_selected_columns.to_csv("Final_data.csv", index=False, encoding='utf-8')